@import "../../variables.scss";

.cardbody {
  position: relative;
  box-sizing: border-box;
  margin: 8px 5px 0 5px;
  border-radius: 3px;
  color: $black-text;
  background: $white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  overflow-wrap: break-word;
  transition: box-shadow 0.15s;
  user-select: none;
  cursor: pointer !important;
}

.cardbody:focus {
  box-shadow: 0px 0px 1px 3px rgb(0, 180, 255);
}

.cardbody--drag {
  box-shadow: 1px 9px 8px 1px rgba(0, 0, 0, 0.3) !important;
  opacity: 1 !important;
}

.card-title {
  padding: 5px 10px;
}

.card-item {
  width: 100%;
  padding: 10px;

  &-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-value {
    opacity: 0.7;
  }
}
