@import "../../variables.scss";

.board-menu {
    position: fixed;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: $white;
    height: 40px;
    z-index: 99;
}

.custom-menu {
    position: relative;
    height: 100%;
}