.single-dropdown {
    width: 200px;

    select {
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    option {
        padding: 5px;
        margin: 5px;
    }
}